@import "../../../shared/partials/abstract/variables";
@import "../../../shared/partials/abstract/mixins";

.wrapper {
  background: $white-100;
  margin: 2rem 0;
  padding: 3rem;
  &_header {
    h3 {
      font-family: "GT Walsheim Pro bold", sans-serif;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: #3a2e4d;
    }
  }
  &_body {
  }
}
