<div class="wrapper m-0">
  <div class="">



    
<!--Start of the card-->
    <div class="w3-container">
    
      <div class="w3-card-4" style="width:70%">
        <header class="w3-container w3-light-grey">
          <h2>The Header for the Notification or the Update !</h2>
        </header>
        <div class="w3-container">
          <hr>
          <p style="font-size: 25px;">Details of the Notification or the Card</p><br>
        </div>
        <button class="w3-button w3-block w3-dark-grey">+ Action 1</button>
        <button class="w3-button w3-block w3-dark-grey">+ Action 2 </button>
      </div>
    </div>
   <!--End of the card-->
 



<!--Start of the card-->
<div class="w3-container">
    
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h2>The Header for the Notification or the Update !</h2>
    </header>
    <div class="w3-container">
      <hr>
      <p style="font-size: 25px;">Details of the Notification or the Card</p><br>
    </div>
    <button class="w3-button w3-block w3-dark-grey">+ Action 1</button>
    <button class="w3-button w3-block w3-dark-grey">+ Action 2 </button>
  </div>
</div>
<!--End of the card-->
    
    
    <button
      class="btn wrapper_login__login_btn"
      (click)="button()"
    >
      <span class="center">
        <span>Press me!</span>
      </span>
    </button>
  </div>
</div>
